@font-face {
    font-family: 'rubik-regular';
	src: url('fonts/Rubik-Regular.eot');
	src: local('☺'), url('fonts/Rubik-Regular.woff') format('woff'), url('fonts/Rubik-Regular.ttf') format('truetype'), url('fonts/Rubik-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'rubik-medium';
	src: url('fonts/Rubik-Medium.eot');
	src: local('☺'), url('fonts/Rubik-Medium.woff') format('woff'), url('fonts/Rubik-Medium.ttf') format('truetype'), url('fonts/Rubik-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'rubik-bold';
	src: url('font/Rubik-Bold.eot');
	src: local('☺'), url('fonts/Rubik-Bold.woff') format('woff'), url('fonts/Rubik-Bold.ttf') format('truetype'), url('fonts/Rubik-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Material Icons';
	src: url('fonts/MaterialIcons-Regular.eot');
	src: local('☺'), url('fonts/MaterialIcons-Regular.woff') format('woff'), url('fonts/MaterialIcons-Regular.ttf') format('truetype'), url('fonts/MaterialIcons-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Generale et importants */
body {
    margin: 0;
    font-family: 'rubik-regular';
    font-size: 1.0625rem;
    line-height: 2rem;
    color: #5E5E5E;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}
.container {
    max-width: 76.875rem;
    margin: auto;
}
/* Material-icons gère les symboles correspondant */
.material-icons {
    font-family: 'Material Icons';
    font-size: 1.5rem;  /* Preferred icon size*/

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
    /* align-self: center; */

}

li {
    list-style: none;
}
ul {
    padding-left: 0;
    margin-top: 0;
}
a {
    text-decoration: none;
}
/* Gestion des couleurs principales */
.color-primary {
    color: #FF8400;
}

/* ********
Header top
******** */

.header-principal{
    background: rgb(28,70,137);
    background: linear-gradient(341deg, rgba(28,70,137,1) 0%, rgba(9,35,75,1) 100%);
    padding-top: 0.0625rem;
    padding-bottom: 12.8125rem;
    text-align: center;
    color: white;

}

.header-top {
    margin: 0 auto;
    margin-top: 1.25rem;
    padding-left: 1.875rem;
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.10);
}

            /* -> Logo */
.logo {
    margin-top: 0.3125rem;
}

            /* -> Menu */

nav {
    margin-right: 1.875rem;
    width: 48.212%;
}
ul {
    align-items: center;
}
nav a {
    align-self: center;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

/* ********
Header bot
******** */
h1 {
    margin-top: 9.375rem;
    font-family: 'rubik-bold';
    font-size: 3.75rem;
    line-height: 4.375rem;
    margin-top: 9.375rem;
    margin-bottom: 0.9375rem;
}

/*******************************
Section principale
********************************/

h2 {
    font-family: 'rubik-medium';
    font-size: 2.25rem;
    line-height: 2.7rem;
    margin-bottom: 0.9375rem;
    color: #2D2E30;
    font-weight: 100;
}

h3 {
    color: #2E2E2E;
}
#what {
    margin: auto;
    text-align: center;
    margin-top: 6.5625rem;
}

.what-intro {
    width: 68%;
    margin: auto;
    color: #6B6D73;
    margin-bottom: 4.625rem;
}

.circle {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 2.1875rem;
    background: center white no-repeat;
    box-shadow: 0 0.4375rem 1.5625rem 0 rgba(0, 0, 0, 0.10);
    margin-top: 2.5rem;
}
article {
    width: 28%;
    text-align: left;
    border-radius: 0.625rem;
    padding: 0 1.875rem;
    margin-bottom: 2.5rem;
}
article p:last-child {
    margin-bottom: 1.875rem;
}

article:hover {box-shadow: 0 0.4375rem 1.5625rem 0 rgba(0, 0, 0, 0.05);}
article:hover .circle {background-color: #FF8400;}

.icon-1 {background-image: url('images/analysis.png');}
.icon-2 {background-image: url('images/developpement.png');}
.icon-3 {background-image: url('images/idea-dvpt.png');}
.icon-4 {background-image: url('images/strategy.png');}
.icon-5 {background-image: url('images/research.png');}
.icon-6 {background-image: url('images/megaphone.png');}

article:hover .icon-1 {background-image: url('images/analysis-blanc.png');}
article:hover .icon-2 {background-image: url('images/developpement-blanc.png');}
article:hover .icon-3 {background-image: url('images/idea-dvpt-blanc.png');}
article:hover .icon-4 {background-image: url('images/strategy-blanc.png');}
article:hover .icon-5 {background-image: url('images/research-blanc.png');}
article:hover .icon-6 {background-image: url('images/megaphone-blanc.png');}

article a {color: #FF8400;font-family: 'rubik-medium';font-size: 1rem;margin-bottom: 2.125rem;}
article a::after {content: url('images/fleche.png');margin-left: 0.625rem;}

/* .menu {display: none;} */
.media{display: none;}

@media  screen and (max-width:70.25rem) {article {width: 27%;} nav{width: 60%;}}

@media  screen and (max-width:64rem) {
    .header-principal {height: 9.375rem;}
    h1 {margin-top: 10%;}
    #what {margin-top: 10%;}
    article {width: 40%;}
    h3, article {text-align: center;}
    .circle {margin: 1.25rem auto;}
    
    
}
@media screen and (max-width:45rem) {
    /* .hide_media {display:none;} */
    .media {display: block;margin-top: 6%;}
    nav{width: 100%;}
    .logo {display: none;}
    article{width: 100%;}
    h1 {margin-top: 0;}
}


@media screen and (max-width:30rem){ 
    .hide-smart{display: none;}
}